body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.loader {
  width: 100px;
  height: 100px;
  background: #262626;
  animation: animate 1s linear infinite;
}
.loader span {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff0;
  animation: rotate 1s linear infinite;
}

.loader span:nth-child(1) {
  top: 0;
  left: 0;

  background: #ea4335;
}

.loader span:nth-child(2) {
  top: 100;
  right: 0;

  background: #0f9d58;
}

.loader span:nth-child(4) {
  bottom: 0;
  left: 0;
  background: #4285f4;
}
@keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
